In [1]:
from glob import glob
import os
import shutil
import pandas as pd

In [2]:
N = 280
YEAR = 2012

In [3]:
count = 0
files = []
for fn in glob('/home/t-9adar/gs-delhi/share/gcs/kerala/%d/*.pdf' % YEAR):
    count += 1
    files.append({'fn': fn})
count

21394

In [4]:
pd.options.display.max_colwidth = 100

In [5]:
df = pd.DataFrame(files)
df

                                                                  fn
0      /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_041_123.pdf
1      /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_117_061.pdf
2      /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_049_038.pdf
3      /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_123_132.pdf
4      /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_043_112.pdf
...                                                              ...
21389  /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_025_052.pdf
21390  /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_056_081.pdf
21391  /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_088_041.pdf
21392  /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_127_027.pdf
21393  /home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_093_067.pdf

[21394 rows x 1 columns]

In [6]:
import re
    
def extract_acno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(2))
    return 0

def extract_partno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(3))
    return 0


df['acno'] = df.fn.apply(lambda c: extract_acno(c))
df['partno'] = df.fn.apply(lambda c: extract_partno(c))
df

,fn,acno,partno
0,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_041_123.pdf,41,123
1,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_117_061.pdf,117,61
2,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_049_038.pdf,49,38
3,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_123_132.pdf,123,132
4,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_043_112.pdf,43,112
...,...,...,...
21389,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_025_052.pdf,25,52
21390,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_056_081.pdf,56,81
21391,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_088_041.pdf,88,41
21392,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_127_027.pdf,127,27
21393,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_093_067.pdf,93,67

In [7]:
import numpy as np

sdf = df.sort_values(['acno', 'partno'])
sdf

,fn,acno,partno
2634,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_001_001.pdf,1,1
6604,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_001_002.pdf,1,2
14828,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_001_003.pdf,1,3
20788,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_001_004.pdf,1,4
13121,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_001_005.pdf,1,5
...,...,...,...
4442,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_140_139.pdf,140,139
2583,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_140_140.pdf,140,140
11475,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_140_141.pdf,140,141
15760,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_140_142.pdf,140,142
19416,/home/t-9adar/gs-delhi/share/gcs/kerala/2012/2012_140_143.pdf,140,143

In [8]:
for i, xdf in enumerate(np.array_split(sdf, N)):
    print(i)
    # FIXME: create dummy output folder
    path = '../../parse_unsearchable_rolls/data/part%d/out/kerala/%d/' % (i + 1, YEAR)
    if not os.path.exists(path):
        os.makedirs(path)        
    path = '../../parse_unsearchable_rolls/data/part%d/in/kerala/%d/' % (i + 1, YEAR)
    if not os.path.exists(path):
        os.makedirs(path)
    for idx, r in xdf.iterrows():
        #print(r.fn)
        try:
            shutil.copy(r.fn, path)
        except:
            pass

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279