In [1]:
from glob import glob
import pandas as pd

In [2]:
files = [{'fn': fn} for fn in glob('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala/2016/*.csv')]
df = pd.DataFrame(files)
df

                                                      fn
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
...                                                  ...
21468  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
21469  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
21470  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
21471  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
21472  /share/svasudevan2lab/gs-delhi/parse_unsearcha...

[21473 rows x 1 columns]

In [3]:
import re
    
def extract_acno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(2))
    return 0

def extract_partno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(3))
    return 0


df['acno'] = df.fn.apply(lambda c: extract_acno(c))
df['partno'] = df.fn.apply(lambda c: extract_partno(c))
df

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...   106     113
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...   114     144
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...    69      45
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...    46      41
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...    45       5
...                                                  ...   ...     ...
21468  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   115     186
21469  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   107      60
21470  /share/svasudevan2lab/gs-delhi/parse_unsearcha...    36     129
21471  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   116      98
21472  /share/svasudevan2lab/gs-delhi/parse_unsearcha...    96      12

[21473 rows x 3 columns]

In [4]:
sdf = df.sort_values(['acno', 'partno']).reset_index(drop=True)
sdf

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       1
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       2
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       3
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       4
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       5
...                                                  ...   ...     ...
21468  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     141
21469  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     142
21470  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     143
21471  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     144
21472  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     145

[21473 rows x 3 columns]

In [5]:
import os

for i, r in sdf.iterrows():
    s = os.path.getsize(r.fn)
    if s == 0:
        print(r.fn)

In [7]:
for i, r in sdf.iterrows():
    odf = pd.read_csv(r.fn)
    if i == 0:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2016.csv.gz', index=False, compression='gzip')
    else:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2016.csv.gz', mode='a', header=False, index=False, compression='gzip')
    if i % 1000 == 0:
        print(i)
print(i)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
21472

In [8]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2016.csv.gz', nrows=10)
tdf.columns

Index(['main_town', 'revenue_division', 'police_station', 'mandal', 'district',
       'pin_code', 'part_no', 'polling_station_name',
       'polling_station_address', 'ac_name', 'parl_constituency', 'year',
       'state', 'number', 'id', 'elector_name', 'father_or_husband_name',
       'husband', 'house_number', 'mother_name', 'household_name', 'age',
       'sex', 'net_electors_male', 'net_electors_female',
       'net_electors_third_gender', 'net_electors_total', 'file_name'],
      dtype='object')

In [9]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2016.csv.gz', usecols=['id', 'ac_name', 'part_no'])
tdf

<ipython-input-9-ccd06c3e3d24>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2016.csv.gz', usecols=['id', 'ac_name', 'part_no'])

         part_no              ac_name                id
0              1        1] മഞ്ചേശ്വരം        FDT1600832
1              1        1] മഞ്ചേശ്വരം        FDT1600840
2              1        1] മഞ്ചേശ്വരം        FDT1600378
3              1        1] മഞ്ചേശ്വരം        FDT1600055
4              1        1] മഞ്ചേശ്വരം        UNREADABLE
...          ...                  ...               ...
25208600     145  140 നെയ്യാറ്റിന്-കര  KL/20/140/276470
25208601     145  140 നെയ്യാറ്റിന്-കര        BRP1589555
25208602     145  140 നെയ്യാറ്റിന്-കര        BRP1493105
25208603     145  140 നെയ്യാറ്റിന്-കര        UNREADABLE
25208604     145  140 നെയ്യാറ്റിന്-കര        BRP1840677

[25208605 rows x 3 columns]