In [1]:
from glob import glob
import pandas as pd

In [2]:
files = []
for i in range(1, 281):
    files.extend([{'fn': fn} for fn in glob('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/part%d/out/kerala/2011/*.csv' % i)])
df = pd.DataFrame(files)
df

                                                      fn
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
...                                                  ...
20777  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
20778  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
20779  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
20780  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
20781  /share/svasudevan2lab/gs-delhi/parse_unsearcha...

[20782 rows x 1 columns]

In [3]:
import re
    
def extract_acno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(2))
    return 0

def extract_partno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(3))
    return 0


df['acno'] = df.fn.apply(lambda c: extract_acno(c))
df['partno'] = df.fn.apply(lambda c: extract_partno(c))
df

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      28
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      52
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      63
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      61
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      22
...                                                  ...   ...     ...
20777  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140      79
20778  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     123
20779  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     104
20780  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140      78
20781  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140      89

[20782 rows x 3 columns]

In [4]:
sdf = df.sort_values(['acno', 'partno']).reset_index(drop=True)
sdf

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       1
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       2
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       3
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       4
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       5
...                                                  ...   ...     ...
20777  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     136
20778  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     137
20779  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     138
20780  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     139
20781  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   140     140

[20782 rows x 3 columns]

In [5]:
import os

for i, r in sdf.iterrows():
    s = os.path.getsize(r.fn)
    if s == 0:
        print(r.fn)

In [6]:
for i, r in sdf.iterrows():
    odf = pd.read_csv(r.fn)
    if i == 0:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2011.csv.gz', index=False, compression='gzip')
    else:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2011.csv.gz', mode='a', header=False, index=False, compression='gzip')
    if i % 1000 == 0:
        print(i)
print(i)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
20781

In [7]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2011.csv.gz', nrows=10)
tdf.columns

Index(['main_town', 'revenue_division', 'police_station', 'mandal', 'district',
       'pin_code', 'part_no', 'polling_station_name',
       'polling_station_address', 'ac_name', 'parl_constituency', 'year',
       'state', 'number', 'id', 'elector_name', 'father_or_husband_name',
       'husband', 'house_number', 'mother_name', 'household_name', 'age',
       'sex', 'supplementary_data', 'net_electors_male', 'net_electors_female',
       'net_electors_third_gender', 'net_electors_total', 'file_name'],
      dtype='object')

In [8]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2011.csv.gz', usecols=['id', 'ac_name', 'part_no'])
tdf

<ipython-input-8-880b773b0684>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2011.csv.gz', usecols=['id', 'ac_name', 'part_no'])

         part_no              ac_name          id
0              1        1] മഞ്ചേശ്വരം  FDT1747278
1              1        1] മഞ്ചേശ്വരം  FDT1747245
2              1        1] മഞ്ചേശ്വരം  FDT1836527
3              1        1] മഞ്ചേശ്വരം  FDT1835891
4              1        1] മഞ്ചേശ്വരം  UVF0039313
...          ...                  ...         ...
24428541     140  140 നെയ്യാറ്റിന്-കര  XAA0208777
24428542     140  140 നെയ്യാറ്റിന്-കര  BRP1482389
24428543     140  140 നെയ്യാറ്റിന്-കര  XAA0208827
24428544     140  140 നെയ്യാറ്റിന്-കര  XAA0206755
24428545     140  140 നെയ്യാറ്റിന്-കര  XAA0208843

[24428546 rows x 3 columns]