In [1]:
from glob import glob
import pandas as pd

In [2]:
files = []
for i in range(1, 281):
    files.extend([{'fn': fn} for fn in glob('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/part%d/out/kerala/2013/*.csv' % i)])
df = pd.DataFrame(files)
df

                                                      fn
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...
...                                                  ...
18916  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
18917  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
18918  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
18919  /share/svasudevan2lab/gs-delhi/parse_unsearcha...
18920  /share/svasudevan2lab/gs-delhi/parse_unsearcha...

[18921 rows x 1 columns]

In [3]:
import re
    
def extract_acno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(2))
    return 0

def extract_partno(c):
    m = re.match('.*?(\d+)_(\d+)_(\d+).*', c)
    if m:
        return int(m.group(3))
    return 0


df['acno'] = df.fn.apply(lambda c: extract_acno(c))
df['partno'] = df.fn.apply(lambda c: extract_partno(c))
df

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      10
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      52
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      32
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      28
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1      33
...                                                  ...   ...     ...
18916  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124      97
18917  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     105
18918  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     114
18919  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124      89
18920  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124      88

[18921 rows x 3 columns]

In [4]:
sdf = df.sort_values(['acno', 'partno']).reset_index(drop=True)
sdf

                                                      fn  acno  partno
0      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       1
1      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       2
2      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       3
3      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       4
4      /share/svasudevan2lab/gs-delhi/parse_unsearcha...     1       5
...                                                  ...   ...     ...
18916  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     150
18917  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     151
18918  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     152
18919  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     153
18920  /share/svasudevan2lab/gs-delhi/parse_unsearcha...   124     154

[18921 rows x 3 columns]

In [5]:
import os

for i, r in sdf.iterrows():
    s = os.path.getsize(r.fn)
    if s == 0:
        print(r.fn)

In [6]:
for i, r in sdf.iterrows():
    odf = pd.read_csv(r.fn)
    if i == 0:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2013.csv.gz', index=False, compression='gzip')
    else:
        odf.to_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2013.csv.gz', mode='a', header=False, index=False, compression='gzip')
    if i % 1000 == 0:
        print(i)
print(i)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
18920

In [7]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2013.csv.gz', nrows=10)
tdf.columns

Index(['main_town', 'revenue_division', 'police_station', 'mandal', 'district',
       'pin_code', 'part_no', 'polling_station_name',
       'polling_station_address', 'ac_name', 'parl_constituency', 'year',
       'state', 'number', 'id', 'elector_name', 'father_or_husband_name',
       'husband', 'house_number', 'mother_name', 'household_name', 'age',
       'sex', 'supplementary_data', 'net_electors_male', 'net_electors_female',
       'net_electors_third_gender', 'net_electors_total', 'file_name'],
      dtype='object')

In [8]:
tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2013.csv.gz', usecols=['id', 'ac_name', 'part_no'])
tdf

<ipython-input-8-ace3216c1e82>:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  tdf = pd.read_csv('/share/svasudevan2lab/gs-delhi/parse_unsearchable_rolls/data/out/kerala_2013.csv.gz', usecols=['id', 'ac_name', 'part_no'])

         part_no        ac_name                id
0              1  1] മഞ്ചേശ്വരം        FDT1600840
1              1  1] മഞ്ചേശ്വരം        FDT1600832
2              1  1] മഞ്ചേശ്വരം        FDT1600378
3              1  1] മഞ്ചേശ്വരം        FDT1600055
4              1  1] മഞ്ചേശ്വരം        UNREADABLE
...          ...            ...               ...
21555684     154     124 കൊല്ലം        KCW1673839
21555685     154     124 കൊല്ലം  KL/18/125/309282
21555686     154     124 കൊല്ലം  KL/18/125/309323
21555687     154     124 കൊല്ലം  KL/18/125/309321
21555688     154     124 കൊല്ലം        KCW3715281

[21555689 rows x 3 columns]